<mat-card class="room_card">
  <app-card-room></app-card-room>
  <app-user-profile></app-user-profile>
</mat-card>
<mat-card class="room_card">
  <app-card-room></app-card-room>
  <app-user-profile></app-user-profile>
</mat-card>
<mat-card class="room_card">
  <app-card-room></app-card-room>
  <app-user-profile></app-user-profile>
</mat-card>
<mat-card class="room_card">
  <app-card-room></app-card-room>
  <app-user-profile></app-user-profile>
</mat-card>
<mat-card class="room_card">
  <app-card-room></app-card-room>
  <app-user-profile></app-user-profile>
</mat-card>
<mat-card class="room_card">
  <app-card-room></app-card-room>
  <app-user-profile></app-user-profile>
</mat-card>
