<mat-card-header>
  <img mat-card-avatar src="https://material.angular.io/assets/img/examples/shiba2.jpg">
  
  <mat-card-title>
    <span class="title_lang font-large">English</span>
    <span>&nbsp;</span>
    <span class="title_level font-large">Upper-intermediate</span>  
  </mat-card-title>

  <mat-card-subtitle>
    <mat-icon class="icon-middle yellow">people</mat-icon>
    <span>&nbsp;</span>
    <span class="font-large yellow">2/5</span>
    &nbsp;&bull;&nbsp;
    <span class="font-middle dots">How to improve my English skills? How to improve my English skills? How to improve my English skills?</span>
  </mat-card-subtitle>
  
  <button mat-mini-fab title="Join the call">
    <mat-icon class="icon-middle grey">phone_in_talk</mat-icon>
  </button>
</mat-card-header>
